body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f8bbd0; /* Rose color for background */
    font-family: Arial, sans-serif;
}

.weather-container {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff; /* White color for the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Slightly darker border */
    border-radius: 4px;
    width: 100%; /* Full width to align with button */
    max-width: 300px; /* Limit maximum width */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
}

button:hover {
    background-color: #0056b3;
}

#weather-icon {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
}

.date-filter {
    margin-top: 20px;
}

#date-select {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ffffff; /* Background color of the dropdown */
}
